body {
    font-family: 'Montserrat';
    font-size: small;
}

h1, h2 {
    font-family: 'Rubik';
    font-weight: bold;
    /* margin: 0; */
}

h2 {
    border-bottom: 4px solid;
}

ul {
    margin: 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.text-m, p {
    margin: 0;
}

.text-s, a {
font-size: 1rem;
}

.text-ss {
font-size: 0.75rem;
}

.vertical-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.subinfo {
margin-top: 0.5rem;
}

.blue {
color: blue;
}

.bold {
font-weight: bold;
}